.header {
  background: rgba(39, 57, 82, 0.883);
  padding: 3%;

  .box-header {
    display: flex;
    justify-content: space-between;
  }

  .header1 {
    margin-top: 1%;
    position: absolute;
    margin-left: 4%;
  }

  .welcomeMsgStyle {
    margin-right: 2px;
    color: white;
  }
  .nameStyle {
    margin-right: 8px;
    color: white;
  }

  .btns {
    margin-right: 20px;
  }

  .header-right {
    margin-top: 1%;
    display: -webkit-box;
  }

  .nameStyle {
    text-transform: uppercase;
  }

  .logout-btn {
    border-radius: 13px;
    padding: 6px;
    width: 7rem;
    background-color: rgba(255, 217, 0, 0.575);
    display: none;
  }

  .login-btn {
    border-radius: 13px;
    padding: 6px;
    width: 7rem;
    background-color: rgba(255, 217, 0, 0.575);
  }

  @media screen and (max-width: 992px) {
    padding-bottom: 40%;

    .box-header {
      display: block;

      .header1 {
        display: grid;
        margin-top: 0%;
        margin-left: 0%;
      }
    }

    .header-right {
      margin-left: -1%;
      margin-top: 35%;
      float: right;
      display: -webkit-box;
    }
  }

  @media screen and (max-width: 600px) {
    padding-bottom: 50%;

    .box-header {
      display: block;

      .header1 {
        display: grid;
        margin-top: 0%;
        margin-left: 0%;
      }
    }

    .header-right {
      display: block;
      margin-top: 45%;
      margin-left: 0%;
      font-size: 14px;

      .logout-btn {
        padding: 4px;
        width: 6rem;
      }

      .login-btn {
        padding: 4px;
        width: 6rem;
      }

      .btns {
        float: right;
        margin-right: 0px;
      }
    }
  }
}

.header a {
  color: rgba(255, 217, 0, 0.315);
  text-decoration: none;
  padding: 20px 10px;
}

.header a:hover {
  color: rgba(255, 217, 0, 0.575);
}
